* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
html, body{
    width: 100%;
    height: 100%;
    background-color: rgb(136, 1, 1);
}

header{
    width: 100%;
    height: 50%;
    justify-content: center;
}

section#infos{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}

section#infos div#txt{
    padding: 5rem;
    font-size: xx-large;
    color: black;
    text-align: center;
}


section#infos div#txt h2{
    padding: 2rem;
    font-size: 3.5rem;
    font-weight: 200;
}

section#infos div#txt h3{
    padding: 2rem;
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

section#infos div#txt button{
    padding: 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: rgb(185, 24, 24);
    border: 3px solid whitesmoke;
    border-radius: 0.5rem;
    transition: all .5s ease-out;
    cursor: auto;
}

section#infos div#txt button:hover{
    transform: scale(1.3);
    
}

section#infos div#img{
    display: flex;
    justify-content: center;
}

section#infos div#img img{
    width: 50%;
    border-radius: 5rem;
    
}

